h2#ppeak{
    background-color:#070D1C;
}
h2#flow{
    background-color: #070D1C;
}
h2#rr{
    background-color: #070D1C;
}
h2#i-e{
    background-color: #070D1C;
}
h2#peep{
    background-color: #070D1C;
}
h2#vti{
    background-color: #070D1C;
}
h2#vte{
    background-color: #070D1C;
}
p{
background-color: #070D1C;
}
h2#o2{
    background-color: #070D1C;
}
h1#patient-is-ventilated{
    background-color: #9EB8F5;
    border: 1px solid black;
    border-radius: 4.1px;
}
div.css-1rrbo1k.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
div.css-m9mqwd.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
div.css-1wk3dql.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
div.css-115gedg.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
div.css-1kb5vwi.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
div.css-1cwt8z2.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
div.css-1l269bu.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
div.css-103uxol.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
div.css-949r0i.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
div.css-1m8p54g.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
div.css-1l269bu.e1tzin5v1{
    background-color: #070D1C;
    padding: 0;
}
canvas.marks{
    border-bottom-color: #535B6B;
    border-right-color: #535B6B;
    border-left-color: #535B6B;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}
h1#inspiration-flow{
    border-top-color:#535B6B;
    border-right-color: #535B6B;
    border-left-color: #535B6B;
    border-right-style: solid;
    border-top-style: solid;
    border-left-style: solid;
}
h1#volume{
    border-top-color: #535B6B;
    border-right-color: #535B6B;
    border-left-color: #535B6B;
    border-right-style: solid;
    border-top-style: solid;
    border-left-style: solid;
}


